@page "{id:int}"
@model ProductsRazorPages.Pages.Products.DetailsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Details</title>
</head>
<body>
    <h1>
        Product Details
    </h1>
    <div>
        <strong>ID:</strong>
    </div>
    <input asp-for="Product.ID" disabled/>
    <div>
        <strong>Name:</strong>
    </div>
    <input asp-for="Product.Name" disabled />
    <div>
        <strong>Category:</strong>
    </div>
    <input asp-for="Product.Category" disabled />
    <div>
        <strong>Price:</strong>
    </div>
    <input asp-for="Product.Price" disabled />
    <div>
        <strong>Units In Stock:</strong>
    </div>
    <input asp-for="Product.UnitsInStock" disabled />
    <br />
    <br />
    <a asp-page="/Index">Go to Home</a>
    <a asp-page="/Products/Index">Go to Products list</a>
</body>
</html>
